#!/bin/bash
# .bash_aliases

# Start/Stop xdebug in CLI mode
function xdebug_cli {
    local ip
    read ip <<< $(echo $SSH_CLIENT | awk '{ print $1 }')

    case "$1" in
        start)
            # Start debug
            export PHP_IDE_CONFIG=serverName={{ host_servername }}
            export XDEBUG_CONFIG="remote_host=$ip idekey=PHPSTORM remote_enable=1"
            ;;
        stop)
            # Stop debug
            unset PHP_IDE_CONFIG
            unset XDEBUG_CONFIG
            ;;
        *)
            echo "Usage: xdebug_cli {start|stop}" >&2
            return 1
            ;;
    esac
}
